{% extends "layout.html" %} {% block title %}{{ editar and "Edit Item" or "New
Item" }}{% endblock %} {% block content %}
<h2 class="mb-4">{{ editar and "Edit Item" or "New Item" }}</h2>

<form method="POST" novalidate>
  {{ form.hidden_tag() }}

  <!-- Item name -->
  <div class="mb-3">
    {{ form.nombre.label(class="form-label") }} 
    {{ form.nombre(class="form-control", placeholder="Ej. Proyector") }}
  </div>

  <!-- Categoria -->
  <div class="mb-3">
    {{ form.categoria.label(class="form-label") }} 
    {{ form.categoria(class="form-control", placeholder="Ej. Electrónica") }}
  </div>

  <!-- Cantidad -->
  <div class="mb-3">
    {{ form.cantidad.label(class="form-label") }}
    {{ form.cantidad(class="form-control", placeholder="Ej. 5") }}
  </div>

  <!-- Precio Estimado -->
  <div class="mb-3">
    {{ form.precio_estimado.label(class="form-label") }}
    {{ form.precio_estimado(class="form-control", placeholder="Ej. 450.00") }}
  </div>

  <!-- Ubiacion -->
  <div class="mb-3">
    {{ form.ubicacion.label(class="form-label") }}
    {{ form.ubicacion(class="form-control", placeholder="Ej. Oficina principal") }}
  </div>

  <!-- Fecha de adquisición -->
   <div class="mb-3">
    {{ form.fecha_adquisicion.label(class="form-label") }}
    {{ form.fecha_adquisicion(class="form-control") }}
   </div>

  <!-- Submit Button -->
  <div class="mb-3">{{ form.submit(class="btn btn-primary") }}</div>
</form>
{% endblock %}
